<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RecipeBook.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A5B933712D2AA94800D18C00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5B933832D2AA94A00D18C00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5B9338D2D2AA94A00D18C00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
